.custom-nav {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.custom-nav-left {
    flex: 0 0 auto;
    /* padding: 10px; */
}

.custom-nav-middle {
    flex: 1 1 auto;
    text-align: center;
    padding: 10px;
}

.shadow-com{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px !important;
}